@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
	--custom-blue: #0168b4;
	--custom-black: #303030;
	--custom-gray: #707070;
	--custom-red: #dc3545;
}

* {
	margin: 0;
	padding: 0;
}

body,
html {
	font-family: "Roboto", sans-serif;
	min-height: 100vh;
	background: #fafafa;
}

/* Header */
header {
	margin: 5px;
}
nav {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.logo {
	width: 130px;
	margin: 20px 30px;
}

.navbar-item-group {
	margin-right: 20px;
	display: flex;
	justify-content: space-around;
	width: 200px;
}

.navbar-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 80px;
	margin-top: 20px;
}

.navbar-item:hover {
	color: var(--custom-black);
}

.navbar-item-text {
	margin-top: -30px;
}

.icon {
	font-size: 1.5rem;
	margin-bottom: -20px;
}

/* Navigation Buttons */

.custom-button-group {
	margin-top: 60px;
	font-size: 0.8rem;
}

.custom-btn {
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 20px;
	color: var(--custom-gray);

	border-radius: 10px;
	margin-right: 15px;
}
/* Cores */
.custom-bg-blue {
	background-color: var(--custom-blue);
}

.active {
	background-color: var(--custom-blue);
	color: white;
}

/* Outros */

.custom-container {
	width: 95%;
	margin: auto;
}

.shadow {
	box-shadow: 1px 1px 5px var(--custom-gray);
}

/* mobile */

@media (max-width: 600px) {
	nav {
		height: 150px;
		flex-direction: column;
	}

	.navbar-item {
		flex-direction: row;
	}

	.icon {
		margin-right: 10px;
		margin-bottom: 0;
	}
}
